@model login_img.Models.OrderProduct

@{
    ViewData["Title"] = "Delete";
}
<div class="my-5">
<h2></h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>OrderProduct</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.products)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.products.product_ID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.customer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.customer.email)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="productId" />
        <input type="hidden" asp-for="customer_id" />
        <input type="submit" value="Delete" asp-route-id="@Model.productId" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
</div>