@model List<Product>
@{
    ViewData["Title"] = "Index";
    Layout = "_Dashboard";
}

<h1>Products</h1>
<div class="row">
@foreach (var item in Model)
{
    
        <div class="col-4 my-2" >
        <div class="card container" style="width: 20rem; height:fit-content;">
        <img class="card-img-top" src="@item.product_image" alt="Card image cap" style="max-height:168px">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><p>Product Name :@item.product_name</p></li>
        <li class="list-group-item "><p>description:@item.description</p></li>
        <li class="list-group-item"><h5>Price : @item.product_price</h5></li>
        <li class="list-group-item"><p>@item.category.category_name</p></li>
        </ul>
        <a asp-controller="Product" asp-action="Remove" asp-route-id="@item.product_ID" class="btn btn-warning mx-3 my-1" onclick="return confirm('Are you sure to delete ?')">Remove</a>
        <a asp-controller="Product" asp-action="UpdateProduct" asp-route-id="@item.product_ID" class="btn btn-warning mx-3 my-1" >Edit</a>

    </div>
    </div>
    
}
 <div class="col-4 my-2" >
        <div class="card container" style="width: 20rem;border-radius:15px">
        <a asp-controller="Product" asp-action="Add_Product" ><i class="bi bi-file-plus text-warning" style="font-size:16em;" ></i></a>
        
    </div>
    </div>
